<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Product Id="*" Name="HOLMS PBXConnector" Language="1033" Version="!(bind.fileVersion.ServiceRunner)" Manufacturer="shortbar" UpgradeCode="90dc6e59-ec70-4bf6-bf2f-0fd16f0538f7">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="HOLMSAppServer.cab" EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="HOLMS.PBXConnector.ServiceRunner.Installer" Level="1">
      <ComponentRef Id="PBXConnector" />
      <ComponentRef Id="RegistrySettings" />
    </Feature>
  </Product>

  <Fragment>
    <Property Id="APPSVCIPPORTVALUE" Value="NotSet">
      <RegistrySearch Id="AppSvcIpPortLookup" Root="HKLM" Key="SOFTWARE\HOLMS\Application" Type="raw" Name="AppSvcIPPort" />
    </Property>
    <Property Id="RABBITHOSTVALUE" Value="127.0.0.1">
      <RegistrySearch Id="RabbitHostLookup" Root="HKLM" Key="SOFTWARE\HOLMS\PBXConnector" Type="raw"  Name="RabbitHost"/>
    </Property>
    <Property Id="SERVICEUSERNAMEVALUE" Value="NotSet">
      <RegistrySearch Id="ServiceUsernameRegistryLookup" Root="HKLM" Key="SOFTWARE\HOLMS\SchedulerSvc" Type="raw" Name="ServiceUsername"/>
    </Property>
    <Property Id="SERVICEPASSWORDVALUE" Value="NotSet">
      <RegistrySearch Id="ServicePasswordRegistryLookup" Root="HKLM" Key="SOFTWARE\HOLMS\SchedulerSvc" Type="raw" Name="ServicePassword"/>
    </Property>
    <Property Id="SMDRCONNECTIONSTRINGVALUE" Value="pbx://none">
      <RegistrySearch Id="SMDRConnectionStringLookup" Root="HKLM" Key="SOFTWARE\HOLMS\PBXConnector" Type="raw" Name="SMDRConnectionString" />
    </Property>
    <Property Id="PMSCONNECTIONSTRINGVALUE" Value="pbx://none">
      <RegistrySearch Id="PMSConnectionStringLookup" Root="HKLM" Key="SOFTWARE\HOLMS\PBXConnector" Type="raw" Name="PMSConnectionString" />
    </Property>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistrySettings" Guid="E9CE6A56-10F1-4A0F-9A49-8D3C3A8504EC" Permanent="yes">
        <RegistryKey Root="HKLM" Key ="SOFTWARE\HOLMS\PBXConnector">
          <RegistryValue Type="string" Name="AppSvcIPPort" Value="[APPSVCIPPORTVALUE]" />
          <RegistryValue Type="string" Name="RabbitHost" Value="[RABBITHOSTVALUE]" />
          <RegistryValue Type="string" Name="ServiceUsername" Value="[SERVICEUSERNAMEVALUE]" />
          <RegistryValue Type="string" Name="ServicePassword" Value="[SERVICEPASSWORDVALUE]" />
          <RegistryValue Type="string" Name="SMDRConnectionString" Value="[SMDRCONNECTIONSTRINGVALUE]" />
          <RegistryValue Type="string" Name="PMSConnectionString" Value="[PMSCONNECTIONSTRINGVALUE]" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="HOLMS">
          <Directory Id="ServiceDirectory" Name="PBXConnector" FileSource="..\HOLMS.PBXConnector.ServiceRunner\bin\$(var.Configuration)\net471">
            <Component Id="PBXConnector" Guid="5772AD2E-21D4-49EE-BCD1-02CA3F123459" Win64="yes">
              <!-- PBXConnector -->
              <File Id="ServiceRunner" Name="HOLMS.PBXConnector.ServiceRunner.exe" KeyPath="yes" DiskId="1" />
              <File Name="HOLMS.PBXConnector.ServiceRunner.exe.config" />

              <File Name="Castle.Core.dll" />
              <File Name="Google.Apis.Auth.dll" />
              <File Name="Google.Apis.Auth.PlatformServices.dll" />
              <File Name="Google.Apis.Core.dll" />
              <File Name="Google.Apis.dll" />
              <File Name="Google.Apis.PlatformServices.dll" />
              <File Name="Google.Protobuf.dll" />
              <File Name="Grpc.Auth.dll" />
              <File Name="grpc_csharp_ext.x64.dll" />
              <File Name="Grpc.Core.dll" />
              <File Name="HOLMS.Messaging.dll" />
              <File Name="HOLMS.PBXConnector.dll" />
              <File Name="HOLMS.Platform.dll" />
              <File Name="log4net.dll" />
              <File Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
              <File Name="Microsoft.Extensions.Logging.Abstractions.dll" />
              <File Name="Microsoft.Extensions.Logging.dll" />
              <File Name="Microsoft.Extensions.Logging.EventLog.dll" />
              <File Name="Microsoft.Extensions.Options.dll" />
              <File Name="Microsoft.Extensions.Primitives.dll" />
              <File Name="Microsoft.IdentityModel.Logging.dll" />
              <File Name="Microsoft.IdentityModel.Tokens.dll" />
              <File Name="Moq.dll" />
              <File Name="Newtonsoft.Json.dll" />
              <File Name="NodaTime.dll" />
              <File Name="nunit.framework.dll" />
              <File Name="RabbitMQ.Client.dll" />
              <File Name="System.Data.Common.dll" />
              <File Name="System.Diagnostics.StackTrace.dll" />
              <File Name="System.Diagnostics.Tracing.dll" />
              <File Name="System.Globalization.Extensions.dll" />
              <File Name="System.IdentityModel.Tokens.Jwt.dll" />
              <File Name="System.Interactive.Async.dll"/>
              <File Name="System.IO.Compression.dll" />
              <File Name="System.Net.Http.dll"/>
              <File Name="System.Net.Sockets.dll" />
              <File Name="System.Runtime.CompilerServices.Unsafe.dll" />
              <File Name="System.Runtime.Serialization.Primitives.dll" />
              <File Name="System.Security.Cryptography.Algorithms.dll" />
              <File Name="System.Security.SecureString.dll" />
              <File Name="System.Threading.Overlapped.dll" />
              <File Name="System.Xml.XPath.XDocument.dll" />
              <File Name="Zlib.Portable.dll" />

              <ServiceInstall Id ="HOLMSPBXConnectorService" Type="ownProcess" Name="HOLMSPBXConnectorService"
                              DisplayName="HOLMS-PBXConnector-Service" Start="auto" Account="NT AUTHORITY\LocalService" ErrorControl="normal"
                              Interactive="no"
                              Description="HOLMS PBXConnector Server">
                <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType ="restart" RestartServiceDelayInSeconds ="10" />
              </ServiceInstall>

              <util:EventSource Name="PBXConnector" Log="HOLMS"
                                EventMessageFile="[NETFRAMEWORK40INSTALLROOTDIR]EventLogMessages.dll" />
              <ServiceControl Id="HOLMSPBXConnectorControl" Stop="uninstall" Remove="uninstall"
                              Name="HOLMSPBXConnectorService" Wait="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
